@import "./variable.scss";
.container {
  max-width: rem(1280);
  margin: 0 auto;
  padding-left: rem(10);
  padding-right: rem(10);
}

.card {
  &__section {
    padding-top: rem(36);
    background-image: linear-gradient(
        180deg,
        rgba(0, 0, 0, 0.5) 0%,
        rgba(0, 0, 0, 5e-5) 49.88%,
        rgba(0, 0, 0, 0.5) 100%
      ),
      url("../public/images/Pattern.png");
    background-repeat: repeat;
    max-height: 100%;
    padding-bottom: rem(50);
    &__title {
      font-family: "Exo 2.0";
      font-weight: 200;
      font-size: rem(36);
      line-height: rem(44);
      text-align: center;
      color: #ffffff;
      text-shadow: rem(0) rem(1) rem(1) #000000;
      display: block;
      margin-bottom: rem(24);
    }
  }
  &__inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    row-gap: rem(80);
    column-gap: rem(80);
    margin-bottom: 50px;
  }
}
