// Function
@function rem($px) {
  @return calc($px / 16) + rem;
}

// Main color
$default-color: #1698d9;
$hover-color: #2ea8e6;
$selected-color: #d91667;
$selected-hover-color: #e52e7a;
$disabled-color: #b3b3b3;
$subtext-color: #666666;
$text-color: #000000;

// Mixin
@mixin breakpoint($point) {
  @if $point == lg {
    @media (min-width: 1120px) and (max-width: 1439px) {
      @content;
    }
  } @else if $point == md {
    @media (min-width: 768px) and (max-width: 1119px) {
      @content;
    }
  } @else if $point == sm {
    @media (min-width: 320px) and (max-width: 767px) {
      @content;
    }
  } @else if $point == xs {
    @media (max-width: 320px) {
      @content;
    }
  }
}
